* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* background-color: #f4f4f4; */
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-form {
  width: 400px;
  height: auto;
  margin: 20px auto;
}

.input-and-btn {
  display: flex;
}

.btn-outline-success {
  margin-left: 5px;
}

.todo-box {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo-box .content {
  display: flex;
}

/* can add tooltip here */
.todo-box .content p {
  margin-top: -2px;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 6px;
}

.todo-box span {
  margin: 0 5px;
}

.mark-all {
  width: 400px;
}

.actions-box {
  cursor: pointer;
}

.back-btn {
  margin-top: 5px;
  width: 100%;
}
.toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

.text-center{
  font-family: 'fangsong';
}
